//
//  Debug.xcconfig
//  EATZ-Client-AppleSilicon
//
//  Created by 손원희 on 7/26/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BASE_URL = https:/$()/api.eatz-server.cloud
